.Auth{
    margin:150px auto;
    width:100%;
    background-color:white;
    text-align: center;
    border:2px solid black;
    box-sizing: border-box
}


.Input{
    display:block;
}
@media(min-width:600px){
    .Auth{
        width:500px;
    }
}